@tailwind base;
@tailwind components;
@tailwind utilities;

.container-center {
  @apply px-5 md:px-0 w-screen md:w-[700px] mx-auto;
}

@layer components {
  #__next {
    @apply min-h-screen flex flex-col;
  }
  html,
  body {
    @apply min-h-screen;
    font-family: 'Roboto Mono', monospace;
  }
}

footer .contact li {
  display: inline;
  margin-right: 10px;
}

footer .contact + div {
  text-align: center;
}

.banner {
  display: flex;
}

.banner img {
  border-radius: 50%;
}

.banner .about-me {
  margin: auto;
}
